.places-item__resources-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding-top: 14px;
    transition: 0.3s ease;
}

.places-item__resources-link:hover {
    opacity: 0.8;
}