.description {
    padding: 0;
    max-width: 83%;
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .description {
      max-width: 90%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .description {
      max-width: 94%;
      padding-top: 89px;
    }
  }
  
  @media screen and (max-width: 375px) {
    .description {
      max-width: 90%;
      padding-top: 66px;
      padding-bottom: 63px;
    }
  }