.description {
    max-width: 984px;
    margin: 0 auto;
    padding: 0 0 92px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media screen and (max-width: 1250px){
    .intro__figcaption {
        max-width: 928px;
    }
}

@media screen and (max-width: 950px){
    .intro__figcaption {
        max-width: 720px;
        padding: 0 24px 88px 24px;
    }
}

@media screen and (max-width: 375px){
    .intro__figcaption {
        max-width: 288px;
        padding: 0 16px 64px 16px;
    }
}