.places {
    margin: 0 auto 92px auto;
    max-width: 984px;
}

@media screen and (max-width: 1250px) {
    .places {
        max-width: 928px;
    }
}

@media screen and (max-width: 950px) {
    .places {
        max-width: 720px;
        margin: 0 auto 90px auto;
    }
}

@media screen and (max-width: 767px) {
    .places {
        max-width: 100%;
        margin: 0 auto 66px auto;
    }
}