.places-item {
    display: grid;
    grid-template: minmax(min-content, max-content) minmax(min-content, max-content) / minmax(340px, 460px) minmax(352px, 484px);
    gap: 48px 40px;
    padding: 0;
}

.places-item:not(:last-child) {
    margin-bottom: 80px;
  }

  @media screen and (max-width: 1024px) {
    .places-item {
     gap: 48px 26px;
    }
   }
   
   @media screen and (max-width: 760px) {
    .places-item:not(:last-child) {
       padding-bottom: 70px;
     }
   }
   
   @media screen and (max-width: 760px) {
     .places-item {
       grid-template-columns: 100%;
       margin: 0 0 50px 0;
       padding: 0;
       gap: 32px;
     }
   }
   
   @media screen and (max-width: 375px) {
     .places-item {
       max-width: 100%;
       display: block;
     }
   
     .places-item:not(:last-child) {
       padding-bottom: 0;
       margin-bottom: 50px;
     }
   }