.places-item__resources {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width:760px){
    .places-item__resources {
        display: block;
        padding-left: 16px;
        padding-bottom: 32px;
    }
}