.intro__figure {
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width:1024px) { 
    .intro__figure {
      width: 90%;
    }
  }
  
  @media screen and (max-width:768px) { 
    .intro__figure {
      width: 100%;
    }
  }