    .places-item__info-text  {
        margin: 0;
        padding: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 163%;
        color: #FFFFFF;
      }
      
      
      .places-item__info-text:not(:last-child) {
        padding-bottom: 27px;
      }
      
      @media screen and (max-width: 768px) {
        .places-item__info-text  {
          font-size: 16px;
        }
      }
      
      @media screen and (max-width: 760px) {
        .places-item__info-text {
          max-width: 90%;
          padding-left: 16px;
        }
      
        .places-item__info-text:not(:last-child) {
          padding-bottom: 23px;
        }
      }