.photo-board {
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
   box-sizing: border-box;
   max-width: 1184px;
   width: 100%;
   padding: 0 0 92px 0;
   margin: 0 auto;
   gap: 16px;
}

@media screen and (max-width: 1250px){
    .photo-board {
        grid-template-columns: repeat(3,300px);
        gap: 14px;
    }
}

@media screen and (max-width: 950px){
    .photo-board {
        grid-template-columns: repeat(2,352px);
        gap: 16px;
        padding: 0 0 88px 0;
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 767px){
    .photo-board {
        grid-template-columns: 100%;
        padding: 0 0 64px 0;
        width: calc(100% - 32px);
        gap: 12px;
    }
}