.intro {
    padding: 0 0 92px 0;
    margin: 0 auto;
    max-width: 984px;
}

@media screen and (max-width: 1250px){
    .intro {
        max-width: 928px;
    }
}

@media screen and (max-width: 950px){
    .intro {
        max-width: 100%;
        padding: 0 0 88px 0;
        margin: 0 auto;
    }
}

@media screen and (max-width: 375px){
    .intro {
        padding: 0 0 64px 0;
        margin: 0 auto;
    }
}